<div class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Vuele con Aerotour <small>Una Experiencia sin igual..</small></h1>
		</div>

		<div class="row">

			<div class="span12">

				<!-- <div class="alert-message block-message info fade in" data-alert="alert">
					<a class="close" href="#">×</a>
					<p><strong>Quiere reservar ya?!</strong> Si gusta puede hacer clic aquí y de una vez nos solicita una cotización! Wanna do this and that and again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
					<div class="alert-actions">
						<a class="btn small" href="#">Reservar!</a> <a class="btn small" href="#">Aún no..</a>
					</div>
				</div> -->

				<figure>
					<img src="./img/posters/fly.jpg" width="100%" height="auto" />
					<figcaption>Vuelo sobre el Cerro Chato / Volcán Arenal</figcaption>
				</figure>
				
				<p class="page-info">Imagine poder despegar desde su casa, hotel o trabajo y volar sobre hermosos parajes naturales...Ahora añada la opción de llegar a cualquier lugar de Costa Rica en pocos minutos, completamente descansado y seguro. Si hace esto tendrá una leve idea de los espectacular y eficiente que es volar con nosotros.</p>

				<ul class="tabs" data-tabs="tabs">
					<li class="active"><a href="#destinations">Destinos</a></li>
					<li><a href="#quote">Cotización</a></li>
				</ul>

				<div id="my-tab-content" class="tab-content">
					<div class="active tab-pane" id="destinations">
						<p>Nuestro país desde el aire le puede quitar el aliento, y por ello Aerotour lo lleva a cualquier destino de forma agil y segura.</p>

						<ul rel="roundabout" class="roundabout unstyled">
							<li><span>Block 1</span></li>
							<li><span>Block 2</span></li>
							<li><span>Block 3</span></li>
							<li><span>Block 4</span></li>
							<li><span>Block 5</span></li>
							<li><span>Block 6</span></li>
						</ul>

						<figure class="ac">
							<img src="./img/map.png" />
						</figure>

						<p>Podemos aterrizar en cualquier aerodromo público que exista en la geografía nacional tanto en avión y si es en helicóptero también podemos aterrizar en hoteles, propiedades privadas con autorización previa o en fin, casi cualquier lugar que usted imagine.</p>
					</div>

					<div class="tab-pane" id="quote">
						<form action="page_submit" method="post" accept-charset="utf-8">
							<fieldset>
								<div class="clearfix">
									<label for="prependedInput">Nombre</label>
									<div class="input">
										<div class="input-prepend">
											<span class="add-on">N</span>
											<input class="large" id="prependedInput" name="prependedInput" size="16" type="text" />
										</div>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="prependedInput">Email</label>
									<div class="input">
										<div class="input-prepend">
											<span class="add-on">@</span>
											<input class="large" id="prependedInput" name="prependedInput" size="16" type="text" />
										</div>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="prependedInput">Teléfono</label>
									<div class="input">
										<div class="input-prepend">
											<span class="add-on">T</span>
											<input class="medium" id="prependedInput" name="prependedInput" size="16" type="tel" />
										</div>
									</div>
								</div><!-- /clearfix -->

								<div class="clearfix">
									<label for="prependedInput">Cantidad de Pasajeros</label>
									<div class="input">
										<div class="input-prepend">
											<span class="add-on">#</span>
											<input class="small" id="prependedInput" name="prependedInput" size="6" type="number" />
										</div>
									</div>
								</div><!-- /clearfix -->

								<div class="clearfix">
									<label for="textarea">Comentarios</label>
									<div class="input">
										<textarea class="span7" id="textarea2" name="textarea2" rows="3"></textarea>
										<span class="help-block">
											Descripción del vuelo o cuéntenos que desea hacer..
										</span>
									</div>
								</div><!-- /clearfix -->

								<div class="actions">
									<input type="submit" class="btn primary" value="Enviar">
								</div>
							</fieldset>
						</form>
					</div>

				</div>

			</div>

			<div class="span4 sidebar">

				<div id="social" class="ac">
					<a href="#" id="link-fb" class="icon-btn big">f</a>
					<a href="#" id="link-gp" class="icon-btn big">g</a>
					<a href="#" id="link-li" class="icon-btn big">l</a>
					<a href="#" id="link-yt" class="icon-btn big">y</a>
					<a href="#" id="link-sy" class="icon-btn big">s</a>
				</div>

				<span class="separator">---</span>

				<address class="ar">
					<h3>Aerotour S.R.L.</h3>
					<tel>+506 2232-1248</tel>
					<tel>+506 2232-0660</tel>
					<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
					San Jose, Costa Rica<br />
					Aeropuerto Int. Tobias Bolaños<br />
					Hangar 26<br /><br />
					<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn">Mapa »</button>
				</address>

				<span class="separator">---</span>

				<div class="margin3x9">
					<h3>Servicios</h3>
					<ul class="">
						<li>Viajes Ejecutivos</li>
						<li>Tours Aéreos</li>
						<li>Carga Externa</li>
						<li>Publicidad Aérea</li>
						<li>Translados Medicos</li>
						<li>Filmacion y Fotografia</li>
						<li>Lidar Planning</li>
						<li>Topografia y Mapeo</li>
						<li>Construccion de Helipuertos</li>
					</ul><!-- / -->
				</div>

				<!-- <span class="separator">---</span>

				<div class="margin3x9">
					<h3>Media Center</h3>
					<p>Vea videos, fotografías, y artículos relacionados con Aerotour</p>
					<p><a class="btn" href="#media">Vea »</a></p>
				</div> -->

				<span class="separator">---</span>

				<div class="ac">
					<a href="http://aensacr.com" target="_blank">
						<img src="./img/logos/aensa-logo.png" width="100%" height="auto" rel="tip" title="Aprendir volar" data-placement="left" data-content="Aprentde como volar like a champ!" />
					</a>
				</div>
				
			</div>

		</div>

	</div>
</div> <!-- /container -->