<div class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Vuele con Aerotour.. <small>Una experiencia sin igual</small></h1>
		</div>

		<div class="row">

			<div class="span12">
				<div class="padleft20">
					<ul rel="roundabout" class="unstyled roundabout">
						<li><img src="./img/field.jpg" alt="Award" /></li>
						<li><img src="./img/bbp.jpg" alt="Backpack" /></li>
						<li><img src="./img/lake.jpg" alt="Bear" /></li>
						<li><img src="./img/field.png" alt="Gun" /></li>
						<li><img src="./img/lake.png" alt="High-Five" /></li>
						<li><img src="./img/bbp.png" alt="Mustache" /></li>
						<li><img src="./img/lake.png" alt="Sun" /></li>
					</ul>
				</div>
				
				<p class="page-info">Nuestra Flota. Todas nuestras aeronaves cuentan con todos seguros necesarios y permisos de ley correspondientes. Además contamos con sistema de rastreos satelitales y departamento de operaciones para dar así un mejor seguimiento de los vuelos en el territorio nacional. Además contamos con nuestro propio programa de mantenimiento, el cúal es riguroso y auditado por las autoridades aeronáuticas costarricenses y norteamericanas. El equipo de mecánicos ha sido certificado por los propios fabricantes de las aeronaves y son constantemente enviados a entrenamientos en el extranjero para así estar siempre actualizados con lo último en seguridad y estado óptimo de las aeronaves.</p>

				<ul class="tabs" data-tabs="tabs">
					<li class="active"><a href="#heli">Helicópteros</a></li>
					<li><a href="#planes">Aviones</a></li>
				</ul>

				<div id="my-tab-content" class="tab-content">
					<div class="active tab-pane" id="heli">
						<p>Con nuestra variedad y estilos helicópteros podemos complacer a cualquier tipo de viajeros. Contamos con la mayor y más moderna flota de helicópteros del país, garantizamos así que siempre abrá un helicótero disponible para usted y los suyos.</p>

						<ul class="media-grid">
							<li>
								<a href="#">
									<img class="thumbnail" src="http://placehold.it/176x96" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img class="thumbnail" src="http://placehold.it/176x96" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img class="thumbnail" src="http://placehold.it/176x96" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img class="thumbnail" src="http://placehold.it/176x96" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img class="thumbnail" src="http://placehold.it/176x96" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img class="thumbnail" src="http://placehold.it/176x96" alt="">
								</a>
							</li>
						</ul>
					</div>

					<div class="tab-pane" id="planes">
						<p>Al igual que con los helicóteros, la seguridad en tema de aviones es nuestra prioridad. Nuestra flota de aviones está lista para despegar en 30 minutos, por lo que usted puede estar en ese destino, o en esa reunión con la prontitud y seguridad que el volar brinda. En Costa Rica existen aeropuertos públicos y privados por toda la geografía nacional, por lo que estamos seguros que donde sea que necesite llegar, podremos darle el servicio que merece.</p>

						<ul class="media-grid">
							<li>
								<a href="#">
									<img class="thumbnail" src="http://placehold.it/176x96" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img class="thumbnail" src="http://placehold.it/176x96" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img class="thumbnail" src="http://placehold.it/176x96" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img class="thumbnail" src="http://placehold.it/176x96" alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- /span12 -->

			<div class="span4 sidebar">
				<div id="social" class="ac">

					<a href="#" id="link-fb" class="icon-btn big">f</a>
					<a href="#" id="link-gp" class="icon-btn big">g</a>
					<a href="#" id="link-li" class="icon-btn big">l</a>
					<a href="#" id="link-yt" class="icon-btn big">y</a>
					<a href="#" id="link-sy" class="icon-btn big">s</a>

				</div>

				<span class="separator">---</span>

				<address class="ar">
					<h3>Aerotour S.R.L.</h3>
					<tel>+506 2232-1248</tel>
					<tel>+506 2232-0660</tel>
					<tel>+506 8373-6732</tel>
					<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
					San Jose, Costa Rica<br />
					Aeropuerto Int. Tobias Bolaños<br />
					Hangar 26<br /><br />
					<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn">Mapa »</button>
				</address>

				<span class="separator">---</span>

				<div class="margin3x9">
					<h3>Servicios</h3>
					<ul class="">
						<li>Viajes Ejecutivos</li>
						<li>Tours Aéreos</li>
						<li>Carga Externa</li>
						<li>Publicidad Aérea</li>
						<li>Translados Medicos</li>
						<li>Filmacion y Fotografia</li>
						<li>Lidar Planning</li>
						<li>Topografia y Mapeo</li>
						<li>Construccion de Helipuertos</li>
					</ul><!-- / -->
				</div>

				<!-- <span class="separator">---</span>

				<div class="margin3x9">
					<h3>Media Center</h3>
					<p>Vea videos, fotografías, y artículos relacionados con Aerotour</p>
					<p><a class="btn" href="#media">Vea »</a></p>
				</div> -->

				<span class="separator">---</span>

				<div class="ac">
					<a href="http://aensacr.com" target="_blank">
						<img src="./img/logos/aensa-logo.png" width="100%" height="auto" rel="tip" title="Aprendir volar" data-placement="left" data-content="Aprentde como volar like a champ!" />
					</a>
				</div>
			</div>

		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->