
<div id="page-fleet" class="container marge">

	<div class="content">
		<!-- <div class="page-header">
			<h1>Vuele con Aerotour.. <small>Una experiencia sin igual</small></h1>
		</div> -->

		<div class="row">

			<div class="span9">

				<p class="page-info"><strong>Our Fleet.</strong> Our aircrafts are fully insure, and meet all the rigid requirements set forth by the aviation authorities. We do a follow up with satellite tracking systems and our operations staff supervise every flight over the national territory.<br/><br/>
				We have our own exclusive maintenance program, under the standards of the DGAC and the FAA. Our maintenance staff are factory trained mechanics and they receive training abroad, to keep them updated and to guarantee the optimum flight safety condition of our fleet.</p>

				<div id="fleet-tabs" class="tabbable tabs-left">
				  <ul class="nav nav-tabs">
				    <li class="active"><a href="#a350" data-toggle="tab">A350 Star</a></li>
				    <li class=""><a href="#r66" data-toggle="tab">Robinson R66</a></li>
				    <li class=""><a href="#r44" data-toggle="tab">Robinson R44</a></li>
				    <li class=""><a href="#r22" data-toggle="tab">Robinson R22</a></li>
				  </ul>

				  <div class="tab-content" style="display: inline;">
				    <div class="tab-pane active" id="a350">
				    	<h2>Eurocopter A350 BA (5 PASSENGERS + 1 PILOT)</h2>
							<p>Elegant, fast, and versatile, that’s an Eurocopter A Star</p>

							<ul class="thumbnails span7">
							  <li class="span4">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350-2.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350-2.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350-3.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350-3.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350-4.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350-4.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350-5.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350-5.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350-6.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350-6.jpg" alt="">
							    </a>
							  </li>
							</ul>
				    </div>

				    <div class="tab-pane" id="r66">
				    	<h2>Robinson R66 (4 PASSENGERS + 1 PILOT)</h2>
							<p>The latest helicopter of our fleet, 2012 technology, powered by Rolls Royce turbine, this aircraft fulfills and excedes your confort and speed expectations.</p>

							<ul class="thumbnails span7">
							  <li class="span4">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66-1.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66-1.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66-2.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66-2.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66-3.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66-3.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66-4.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66-4.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66-5.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66-5.jpg" alt="">
							    </a>
							  </li>
							</ul>
				    </div>

				    <div class="tab-pane" id="r44">
				    	<h2>Robinson R44 (3 PASSENGERS + 1 PILOT)</h2>
							<p>World’s bestselling and more useful helicopter, it operates in all five continents due to the safety standards that it was assembled. The R44 provides reliability and responsiveness while you enjoy your flight.</p>

							<ul class="thumbnails span7">
							  <li class="span4">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44-1.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44-1.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44-2.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44-2.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44-3.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44-3.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44-4.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44-4.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44-5.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44-5.jpg" alt="">
							    </a>
							  </li>
							</ul>
				    </div>

				    <div class="tab-pane" id="r22">
				    	<h2>Robinson R22 (1 PASSENGER + 1 PILOT)</h2>
							<p>Compact and lightweight, ideal for panoramic views during your flight, it’s an economical option for filming and photo shooting aerial operations.</p>

							<ul class="thumbnails span7">
							  <li class="span4">
							    <a rel="group-r22" href="./assets/img/fleet/R22/R22.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R22/R22.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r22" href="./assets/img/fleet/R22/R22-1.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R22/R22-1.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r22" href="./assets/img/fleet/R22/R22-2.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R22/R22-2.jpg" alt="">
							    </a>
							  </li>
							</ul>
				    </div>
				  </div>
				</div>
			
			</div><!-- /span9 -->

			<div class="span3 sidebar">
				<div id="social" class="ac">
					<a href="//facebook.com/aerotourcr" target="_blank" id="link-fb" class="ico-btn big">f</a>
					<a href="//plus.google.com/118023243299011851814" target="_blank" id="link-gp" class="ico-btn big">g</a>
					<a href="//linkedin.com/pub/aerotour-costa-rica/47/360/4b" target="_blank" id="link-li" class="ico-btn big">l</a>
					<a href="//youtube.com/user/aerotourchannel" target="_blank" id="link-yt" class="ico-btn big">y</a>
					<a href="skype:aerotourcr" id="link-sy" class="ico-btn big">s</a>
				</div>

				<span class="separator">---</span>

				<div class="margin3x9">
					<br />
					<h3>Services</h3>
					<ul class="">
						<li>VIP Transport</li>
						<li>Areal Tours</li>
						<li>External Load</li>
						<li>Area Marketing</li>
						<li>MEDIVAC</li>
						<li>Fiml & Photography</li>
						<li>PLOT Planning</li>
						<li>Topography & Mapping</li>
						<li>Heliport construction</li>
					</ul><!-- / -->
				</div>

				<span class="separator">---</span>

				<address class="ar">
					<br />
					<h3>Aerotour</h3>
					<tel>+506 2232-1248</tel>
					<tel>+506 2232-0660</tel>
					<tel>+506 8373-6732</tel>
					<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
					San Jose, Costa Rica<br />
					Aeropuerto Int. Tobias Bolaños<br />
					Hangar 26
				</address>

				<!-- <span class="separator">---</span>

				<div class="margin3x9">
					<h3>Media Center</h3>
					<p>Vea videos, fotografías, y artículos relacionados con Aerotour</p>
					<p><a class="btn" href="#media">Vea »</a></p>
				</div> -->

				<!-- <span class="separator">---</span>

				<div class="ac">
					<a href="http://aensacr.com" target="_blank">
						<img src="./assets/img/logos/aensa-logo.png" width="100%" height="auto" rel="tip" title="Aprendir volar" data-placement="left" data-content="Aprentde como volar like a champ!" />
					</a>
				</div> -->
			</div>

		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->

<script>
!function ($) {
	$(function(){

		$('.lightbox').slimbox();
		$('#page-title').html('Fleet <small>most modern and secure..</small>');

	})
}(window.jQuery)
</script>