<div id="page-fleet" class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Vuele con Aerotour.. <small>Una experiencia sin igual</small></h1>
		</div>

		<div class="row">

			<div class="span9">
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active">
							<img src="./assets/img/fleet/fleet.jpg" alt="">
							<div class="carousel-caption">
								<h4>La mayor y más moderna flota del país</h4>
								<p>Nuestros helicópteros cuentan con asientos de cuero, aire acondicionado, GPS, sistema de música, ventanas panorámicas, rastreo satelital, espacio de equipaje… todo lo que usted puede desear a la hora de volar. Con nuestra variedad y estilos helicópteros podemos complacer a cualquier tipo de viajero.</p>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/fleet/fleet1.jpg" alt="">
							<div class="carousel-caption">
								<h4>Medivac services</h4>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/fleet/fleet2.jpg" alt="">
							<div class="carousel-caption">
								<h4>Construction</h4>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/fleet/fleet3.jpg" alt="">
							<div class="carousel-caption">
								<h4>Video filming</h4>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/fleet/fleet4.jpg" alt="">
							<div class="carousel-caption">
								<h4>Touring</h4>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
			
				<p class="page-info">Nuestra Flota. Todas nuestras aeronaves cuentan con todos seguros necesarios y permisos de ley correspondientes. Además contamos con sistema de rastreos satelitales y departamento de operaciones para dar así un mejor seguimiento de los vuelos en el territorio nacional. Además contamos con nuestro propio programa de mantenimiento, el cúal es riguroso y auditado por las autoridades aeronáuticas costarricenses y norteamericanas. El equipo de mecánicos ha sido certificado por los propios fabricantes de las aeronaves y son constantemente enviados a entrenamientos en el extranjero para así estar siempre actualizados con lo último en seguridad y estado óptimo de las aeronaves.</p>

				<div id="fleet-tabs" class="tabbable tabs-left">
				  <ul class="nav nav-tabs">
				    <li class="active"><a href="#a350" data-toggle="tab">A350 Star</a></li>
				    <li class=""><a href="#r66" data-toggle="tab">Robinson R66</a></li>
				    <li class=""><a href="#r44" data-toggle="tab">Robinson R44</a></li>
				    <li class=""><a href="#r22" data-toggle="tab">Robinson R22</a></li>
				  </ul>

				  <div class="tab-content">
				    <div class="tab-pane active" id="a350">
				    	<h2>Eurocopter A350 BA (5 pasajeros + 1 piloto)</h2>
							<p>Elegante, rápido, espacioso y versátil, así es un Eurocopter.</p>

							<ul class="thumbnails span7">
							  <li class="span4">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350-2.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350-2.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350-3.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350-3.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350-4.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350-4.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350-5.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350-5.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-a350" href="./assets/img/fleet/A350/350-6.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/A350/350-6.jpg" alt="">
							    </a>
							  </li>
							</ul>
				    </div>

				    <div class="tab-pane" id="r66">
				    	<h2>Robinson R66 (4 pasajeros + 1 piloto)</h2>
							<p>Siendo el helicóptero más moderno de la flota, al contar con tecnología 2012 y contando con una turbina ROLL ROYCE, hace que esta aeronave cumpla y exceda sus expectativas en confort y velocidad.</p>

							<ul class="thumbnails span7">
							  <li class="span4">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66-1.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66-1.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66-2.png" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66-2.png" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66-3.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66-3.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66-4.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66-4.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r66" href="./assets/img/fleet/R66/R66-5.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R66/R66-5.jpg" alt="">
							    </a>
							  </li>
							</ul>
				    </div>

				    <div class="tab-pane" id="r44">
				    	<h2>Robinson R44 (3 pasajeros + 1 piloto)</h2>
							<p>El helicóptero más vendido y utilizado en el mundo, se encuentra operando en todos los continentes gracias a los altos estándares de seguridad con el que fue construido. Podemos decir que un R44 es sinónimo de seguridad.</p>

							<ul class="thumbnails span7">
							  <li class="span4">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44-1.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44-1.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44-2.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44-2.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44-3.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44-3.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44-4.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44-4.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r44" href="./assets/img/fleet/R44/R44-5.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R44/R44-5.jpg" alt="">
							    </a>
							  </li>
							</ul>
				    </div>

				    <div class="tab-pane" id="r22">
				    	<h2>Robinson R22 (1 pasajero + 1 piloto)</h2>
							<p>Pequeño y ágil, perfecto para vivir la libertad de volar o bien para hacer sus filmación y fotografía aérea.</p>

							<ul class="thumbnails span7">
							  <li class="span4">
							    <a rel="group-r22" href="./assets/img/fleet/R22/R22.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R22/R22.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r22" href="./assets/img/fleet/R22/R22-1.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R22/R22-1.jpg" alt="">
							    </a>
							  </li>
							  <li class="span2">
							    <a rel="group-r22" href="./assets/img/fleet/R22/R22-2.jpg" class="thumbnail lightbox">
							      <img src="./assets/img/fleet/R22/R22-2.jpg" alt="">
							    </a>
							  </li>
							</ul>
				    </div>
				  </div>
				</div>

			</div><!-- /span9 -->

			<div class="span3 sidebar">
				<div id="social" class="ac">
					<a href="//facebook.com/aerotourcr" target="_blank" id="link-fb" class="ico-btn big">f</a>
					<a href="//plus.google.com/118023243299011851814" target="_blank" id="link-gp" class="ico-btn big">g</a>
					<a href="//linkedin.com/pub/aerotour-costa-rica/47/360/4b" target="_blank" id="link-li" class="ico-btn big">l</a>
					<a href="//youtube.com/user/aerotourchannel" target="_blank" id="link-yt" class="ico-btn big">y</a>
					<a href="skype:aerotourcr" id="link-sy" class="ico-btn big">s</a>
				</div>

				<span class="separator">---</span>

				<div class="margin3x9">
					<br />
					<h3>Servicios</h3>
					<ul class="">
						<li>Viajes Ejecutivos</li>
						<li>Tours Aéreos</li>
						<li>Carga Externa</li>
						<li>Publicidad Aérea</li>
						<li>Translados Medicos</li>
						<li>Filmacion y Fotografia</li>
						<li>Lidar Planning</li>
						<li>Topografia y Mapeo</li>
						<li>Construccion de Helipuertos</li>
					</ul><!-- / -->
				</div>

				<span class="separator">---</span>

				<address class="ar">
					<br />
					<h3>Aerotour S.R.L.</h3>
					<tel>+506 2232-1248</tel>
					<tel>+506 2232-0660</tel>
					<tel>+506 8373-6732</tel>
					<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
					San Jose, Costa Rica<br />
					Aeropuerto Int. Tobias Bolaños<br />
					Hangar 26
				</address>

				<!-- <span class="separator">---</span>

				<div class="margin3x9">
					<h3>Media Center</h3>
					<p>Vea videos, fotografías, y artículos relacionados con Aerotour</p>
					<p><a class="btn" href="#media">Vea »</a></p>
				</div> -->

				<span class="separator">---</span>

				<div class="ac">
					<a href="http://aensacr.com" target="_blank">
						<img src="./assets/img/logos/aensa-logo.png" width="100%" height="auto" rel="tip" title="Aprendir volar" data-placement="left" data-content="Aprentde como volar like a champ!" />
					</a>
				</div>
			</div>

		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->

<script>
!function ($) {
	$(function(){

		$('.lightbox').slimbox();

	})
}(window.jQuery)
</script>