
<div id="page-admin" class="container marge">

	<div class="content">
		<!-- <div class="page-header">
			<h1>Administramos sus aeronave..</h1>
		</div> -->

		<div class="row">

			<div class="span9">

				<ul id="tab" class="nav nav-tabs">
					<li class="active"><a href="#full" data-toggle="tab">Service Pack</a></li>
					<li class=""><a href="#parking" data-toggle="tab">Hangars</a></li>
					<li class=""><a href="#wash" data-toggle="tab">Cleaning</a></li>
				</ul>

				<div id="admin-tabs" class="tab-content">
					<div class="tab-pane fade active in" id="full">
						<p class="page-info"><strong>We provide administration services for your own aircraft.</strong> Our company has been on the local aviation market for 8 years, and meets all the functioning requirements from the local aviation authorities, giving us the chance to provide services as the responsible operator of your aircraft, dispatch and follow up of your flights.Other additional services are hangarage, maintenance and cleaning, all you need to have your ship ready for take off.</p>
					</div>

					<div class="tab-pane fade" id="parking">
						<p class="page-info">If you are just passing by and you need a safe place for your aircraft, <strong>we could provide you space in our hangars</strong>, in a protected environment, with surveillance and a ground crew team ready to assist you during your stay.</p>
					</div>

					<div class="tab-pane fade" id="wash">
						<p class="page-info">Not only the technical maintenance of your aircraft is as important as the outside and inside care, the stetic part plays an important role when you are on a business trip, therefore our staff is deeply concerned about programming full exterior wash downs, carpet cleaning, leather polished upholstery, wiped down windshields, etc , using the right equipment for that purpose, and when you get on board, you will perceive a pleasant scent in the inside, and well presented carpets and seats.</p>
					</div>
				</div>

				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active">
							<img src="./assets/img/admin/admin.jpg" alt="">
							<div class="carousel-caption">
								<p>Your aircraft must be administrate by a solid, trustful, and rentable aerial service, and we are your best alternative.</p>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/admin/admin1.jpg" alt="">
							<div class="carousel-caption">
								<p>Your aircraft must be administrate by a solid, trustful, and rentable aerial service, and we are your best alternative.</p>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/admin/admin2.jpg" alt="">
							<div class="carousel-caption">
								<p>Your aircraft must be administrate by a solid, trustful, and rentable aerial service, and we are your best alternative.</p>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/admin/admin3.jpg" alt="">
							<div class="carousel-caption">
								<p>Your aircraft must be administrate by a solid, trustful, and rentable aerial service, and we are your best alternative.</p>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
			</div><!-- /span9 -->

			<div class="span3 sidebar">
				<div id="social" class="ac">
					<a href="//facebook.com/aerotourcr" target="_blank" id="link-fb" class="ico-btn big">f</a>
					<a href="//plus.google.com/118023243299011851814" target="_blank" id="link-gp" class="ico-btn big">g</a>
					<a href="//linkedin.com/pub/aerotour-costa-rica/47/360/4b" target="_blank" id="link-li" class="ico-btn big">l</a>
					<a href="//youtube.com/user/aerotourchannel" target="_blank" id="link-yt" class="ico-btn big">y</a>
					<a href="skype:aerotourcr" id="link-sy" class="ico-btn big">s</a>
				</div>

				<span class="separator">---</span>

				<div class="margin3x9">
					<br />
					<h3>Services</h3>
					<ul class="">
						<li>Administration</li>
						<li>Maintanance</li>
						<li>Consulting</li>
					</ul><!-- / -->
				</div>

				<span class="separator">---</span>

				<address class="ar">
					<br />
					<h3>Aerotour</h3>
					<tel>+506 2232-1248</tel>
					<tel>+506 2232-0660</tel>
					<tel>+506 8373-6732</tel>
					<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
					San Jose, Costa Rica<br />
					Aeropuerto Int. Tobias Bolaños<br />
					Hangar 26
				</address>

				<!-- <span class="separator">---</span>

				<div class="margin3x9">
					<h3>Media Center</h3>
					<p>Vea videos, fotografías, y artículos relacionados con Aerotour</p>
					<p><a class="btn" href="#media">Vea »</a></p>
				</div> -->

				<!-- <span class="separator">---</span>

				<div class="ac">
					<a href="http://aensacr.com" target="_blank">
						<img src="./assets/img/logos/aensa-logo.png" width="100%" height="auto" rel="tip" title="Aprendir volar" data-placement="left" data-content="Aprentde como volar like a champ!" />
					</a>
				</div> -->
			</div>

		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->

<script>
!function ($) {
	$(function(){

		//$('#adminCarousel').carousel();
		$('#page-title').html('Administration <small>of your aircraft..</small>');

	})
}(window.jQuery)
</script>