<div id="page-admin" class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Administramos sus aeronave..</h1>
		</div>

		<div class="row">

			<div class="span9">

				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active">
							<img src="./assets/img/admin/admin.jpg" alt="">
							<div class="carousel-caption">
								<h4>Friendly staff</h4>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/admin/admin1.jpg" alt="">
							<div class="carousel-caption">
								<h4>Facilities</h4>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/admin/admin2.jpg" alt="">
							<div class="carousel-caption">
								<h4>Facilities upstairs</h4>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/admin/admin3.jpg" alt="">
							<div class="carousel-caption">
								<h4>VIP area</h4>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>

				<ul id="tab" class="nav nav-tabs">
					<li class="active"><a href="#full" data-toggle="tab">Service Pack</a></li>
					<li class=""><a href="#parking" data-toggle="tab">Hangaraje</a></li>
					<li class=""><a href="#wash" data-toggle="tab">Limpieza</a></li>
				</ul>

				<div id="admin-tabs" class="tab-content">
					<div class="tab-pane fade active in" id="full">
						<p class="page-info">Brindamos servicios completos de administración de su aeronave, con nosotros no solo cuenta con el respaldo de una empresa consolidada en el mercado nacional, son más de 8 años de experiencia, sino que también cuenta con servicios complementarios como despacho y seguimientos de vuelos, reservaciones 24/7, hangaraje, limpieza y mantenimiento... En fin todo lo que necesita para que su equipo este listo para despegar.</p>
					</div>

					<div class="tab-pane fade" id="parking">
						<p class="page-info">Si solo esta de paso por el país y necesita un lugar seguro y resguardo para su aeronave, nosotros podemos brindarle espacio en nuestros hangares, los cuales cuentan con la estructura para que su equipo este resguardado, con ciurcuito cerrado de vigilancia y grupo de soporte de tierra para asistirlo con la operacion.</p>

						<!-- <table class="zebra-striped" id="sortTableExample">
							<thead>
								<tr>
									<th class="header">#</th>
									<th class="yellow header headerSortDown">First Name</th>
									<th class="blue header">Last Name</th>
									<th class="green header">Language</th>
								</tr>
							</thead>
							<tbody>
							<tr>
									<td>2</td>
									<td>Joe</td>
									<td>Sixpack</td>
									<td>English</td>
								</tr><tr>
									<td>3</td>
									<td>Stu</td>
									<td>Dent</td>
									<td>Code</td>
								</tr><tr>
									<td>1</td>
									<td>Your</td>
									<td>One</td>
									<td>English</td>
								</tr></tbody>
						</table> -->
					</div>

					<div class="tab-pane fade" id="wash">
						<p class="page-info">Apesar que el mantenimiento y cuidado estructural de su aeronave son prioridad para nosotros, también es cierto que la estetica externa e interna juegan un papel clave para tener un  vuelo confortable y para cerrar negocios; por lo que Aerotour cuenta con un personal y herramientas necesarias para tener su aeronave lista y presentable con la mayor limpieza posible, cuidando los pequeños detalles, para que en el momento que usted se sienta abordo perciba su aroma preferido, alfombras como nuevas y asientos de cuero bien cuidados.</p>

					</div>
				</div>
			</div><!-- /span9 -->

			<div class="span3 sidebar">
				<div id="social" class="ac">
					<a href="//facebook.com/aerotourcr" target="_blank" id="link-fb" class="ico-btn big">f</a>
					<a href="//plus.google.com/118023243299011851814" target="_blank" id="link-gp" class="ico-btn big">g</a>
					<a href="//linkedin.com/pub/aerotour-costa-rica/47/360/4b" target="_blank" id="link-li" class="ico-btn big">l</a>
					<a href="//youtube.com/user/aerotourchannel" target="_blank" id="link-yt" class="ico-btn big">y</a>
					<a href="callto//:aerotourcr" id="link-sy" class="ico-btn big">s</a>
				</div>

				<span class="separator">---</span>

				<address class="ar">
					<h3>Aerotour S.R.L.</h3>
					<tel>+506 2232-1248</tel>
					<tel>+506 2232-0660</tel>
					<tel>+506 8373-6732</tel>
					<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
					San Jose, Costa Rica<br />
					Aeropuerto Int. Tobias Bolaños<br />
					Hangar 26<br /><br />
					<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn">Mapa »</button>
				</address>

				<span class="separator">---</span>

				<div class="margin3x9">
					<h3>Servicios</h3>
					<ul class="">
						<li>Administración</li>
						<li>Mantenimiento</li>
						<li>Licencias de piloto</li>
						<li>Consultorias</li>
					</ul><!-- / -->
				</div>

				<!-- <span class="separator">---</span>

				<div class="margin3x9">
					<h3>Media Center</h3>
					<p>Vea videos, fotografías, y artículos relacionados con Aerotour</p>
					<p><a class="btn" href="#media">Vea »</a></p>
				</div> -->

				<span class="separator">---</span>

				<div class="ac">
					<a href="http://aensacr.com" target="_blank">
						<img src="./assets/img/logos/aensa-logo.png" width="100%" height="auto" rel="tip" title="Aprendir volar" data-placement="left" data-content="Aprentde como volar like a champ!" />
					</a>
				</div>
			</div>

		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->

<script>
!function ($) {
	$(function(){

		//$('#adminCarousel').carousel();

	})
}(window.jQuery)
</script>