<div class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Adquicisión de Aeronaves.. <small>Una experiencia sin igual</small></h1>
		</div>

		<div class="row">

			<div class="span12">
				<div id="headerimgs">
					<div id="headerimg1" class="headerimg"></div>
					<div id="headerimg2" class="headerimg"></div>
					<!-- Slideshow controls -->
					<div id="headernav-outer">
						<div id="headernav">
							<button id="back" class="btn icon-btn"><</button>
							<button id="control" class="btn icon-btn">]</button>
							<button id="next" class="btn icon-btn">></button>
						</div>
					</div>
					<!-- jQuery handles for the text displayed on top of the images -->
					<div id="headertxt">
						<p class="caption">
							<span id="firstline"></span>
							<a href="#" id="secondline"></a>
						</p>
						<p class="pictured">
							Pictured:
							<a href="#" id="pictureduri"></a>
						</p>
					</div>
				</div>

				<p>¿Para que lo quiere?... ¿Para cúantas personas?... ¿Cúal es la misión? Si tiene la respuesta para esas preguntas podemos asesorarlo con la adquicisión de su helicóptero o avión. Una de nuestras divisiones llamada AENSA, es la única representante autorizado por parte de ROBINSON HELICOPTER COMPANY para la venta de este modelo de helicóptero, siendo el más vendido en el mundo, por ser seguro, accesible y eficiente. Por supuesto, si desea otro tipo de helicóptero o avión nuestra red de socios a nivel internacional cuentan con un inventario de aeronaves que le garantizan una inversión inteligente.</p>

				<ul rel="roundabout" class="unstyled roundabout">
					<li><img src="./img/field.jpg" alt="Award" /></li>
					<li><img src="./img/bbp.jpg" alt="Backpack" /></li>
					<li><img src="./img/lake.jpg" alt="Bear" /></li>
					<li><img src="./img/gun.png" alt="Gun" /></li>
					<li><img src="./img/high-five.png" alt="High-Five" /></li>
					<li><img src="./img/mustache.png" alt="Mustache" /></li>
					<li><img src="./img/sun.png" alt="Sun" /></li>
				</ul>

				<form action="page_submit" method="post" accept-charset="utf-8">
				<fieldset>
					<div class="clearfix">
						<label for="prependedInput">Nombre</label>
						<div class="input">
							<div class="input-prepend">
								<span class="add-on">N</span>
								<input class="large" id="prependedInput" name="prependedInput" size="16" type="text" />
							</div>
						</div>
					</div><!-- /clearfix -->
					<div class="clearfix">
						<label for="prependedInput">Email</label>
						<div class="input">
							<div class="input-prepend">
								<span class="add-on">@</span>
								<input class="large" id="prependedInput" name="prependedInput" size="16" type="text" />
							</div>
						</div>
					</div><!-- /clearfix -->
					<div class="clearfix">
						<label for="prependedInput">Teléfono</label>
						<div class="input">
							<div class="input-prepend">
								<span class="add-on">T</span>
								<input class="medium" id="prependedInput" name="prependedInput" size="16" type="tel" />
							</div>
						</div>
					</div><!-- /clearfix -->

					<div class="clearfix">
						<label for="prependedInput">Pasajeros</label>
						<div class="input">
							<div class="input-prepend">
								<span class="add-on">#</span>
								<input class="small" id="prependedInput" name="prependedInput" size="6" type="number" />
							</div>
						</div>
					</div><!-- /clearfix -->

					<div class="clearfix">
						<label for="textarea">Commentarios</label>
						<div class="input">
							<textarea class="span7" id="textarea2" name="textarea2" rows="3"></textarea>
						</div>
					</div><!-- /clearfix -->

					<div class="actions">
						<input type="submit" class="btn primary" value="Enviar">
					</div>
				</fieldset>
				</form>
				
			</div><!-- /span12 -->

			<div class="span4 sidebar">
				<div id="social" class="ac">

					<a href="#" id="link-fb" class="icon-btn big">f</a>
					<a href="#" id="link-gp" class="icon-btn big">g</a>
					<a href="#" id="link-li" class="icon-btn big">l</a>
					<a href="#" id="link-yt" class="icon-btn big">y</a>
					<a href="#" id="link-sy" class="icon-btn big">s</a>

				</div>

				<span class="separator">---</span>

				<address class="ar">
					<h3>Aerotour S.R.L.</h3>
					<tel>+506 2232-1248</tel>
					<tel>+506 2232-0660</tel>
					<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
					San Jose, Costa Rica<br />
					Aeropuerto Int. Tobias Bolaños<br />
					Hangar 26<br /><br />
					<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn">Mapa »</button>
				</address>

				<span class="separator">---</span>

				<div class="margin3x9">
					<h3>Servicios</h3>
					<ul class="">
						<li>Compra Aeronaves</li>
						<li>Venta Aeronaves</li>
					</ul><!-- / -->
				</div>

				<span class="separator">---</span>

				<div class="margin3x9">
					<h3>Media Center</h3>
					<p>Vea videos, fotografías, y artículos relacionados con Aerotour</p>
					<p><a class="btn" href="#">Vea »</a></p>
				</div>

				<span class="separator">---</span>

				<div class="ac">
					<img src="./img/aensa-logo.png" width="100%" height="auto" rel="pop" title="Aprendir volar" data-placement="left" data-content="Aprentde como volar like a champ!" />
				</div>
			</div>

		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->