::-webkit-scrollbar { width: 13px; }
::-webkit-scrollbar-track { background: #111; border-radius: 3px; }
::-webkit-scrollbar-thumb { border-radius: 3px; background: #666; }

.loading {
z-index: 9999;
position: fixed;
background: #fff;
top: 0; bottom: 0;
left: 0; right: 0;
text-align: center;
vertical-align: super;
}
.loading span {
position: absolute;
top: 50%; left: 48%;
background: transparent url(../img/loader.gif);
height: 48px; width: 48px;
text-indent: -9999px;
}