@import url(custom.css);
/*
 * GENERAL STYLES
*/

html { overflow: visible; background: #efefef; height: 100%; width: 100%; }
body { background: transparent; height: 100%; }

.ac { text-align: center; }
.ar { text-align: right; }
.al { text-align: left; }
/*.padleft20 { padding-left: 20px; }*/

#app-footer { margin-top: 0; background: #fff; padding-top: 1em; }


/* SITE HEADER */
#app-header { z-index: 900; }
#app-header .container {
background: #eee;
box-shadow: 0 1px 1px #ddd;
vertical-align: top;
height: 60px;
position: relative;
}
#app-header .btn-toolbar {
position: absolute;
right: 3em;
top: 0.5em;
}
#app-header .brand {
margin: 0;
display: inline-block;
padding: 0;
position: absolute;
top: 0.2em;
left: 1em;
}
#app-header .brand a {
text-indent: -9999px;
display: inline-block;
width: 181px;
background: url(../img/logos/aerotour.png) no-repeat center center;
background-size: contain;
-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
height: 56px;
padding: 0;
margin: 0;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover { color: #333; font-weight: bold; }


.carousel .item { max-height: 465px; overflow: hidden; }

#main .marge { margin-top: 59px; }
#main .container { background: rgba(255, 255, 255, 0.93); }
#main .page-header { margin: 0.3em 0 1px 1em; border-bottom: 1px dashed #efefef; }
#main .page-header h1 { margin: 6px; display: inline-block; vertical-align: super; color: #666; }
#main .sidebar { 
opacity: 0.3; 
transition: opacity 0.3s;
-moz-transition: opacity 0.3s;
-webkit-transition: opacity 0.3s;
-o-transition: opacity 0.3s;
}
#main .sidebar:hover { opacity: 1; }
#main .sidebar address { padding-right: 13px; }
#main .sidebar .separator {color: white; border-bottom: 1px solid #eee; display: block; }
#main figure { padding: 0; margin: 0; }
#main figcaption { margin: 0.3em 0 1em 1em; color: #666; font-size: 0.8em; }
#main .tabs, #main .tab-content { margin-left: 20px; }
#main .page-info { font-size: 1.3em; padding: 1em 2em; line-height: normal; }
#main .media-grid { margin-top: 3em; }
#social { margin-top: 1em; }
#social a { font-size: 1.6em; padding: 0; line-height: normal; text-decoration: none; }


.media-grid li { display: inline-block; vertical-align: top; }
.roundabout li { background: transparent; }


/* Fleet page*/
#fleet-tabs img { min-height: 100px; }


footer { position: absolute; width: 100%; bottom: 0; z-index: 9; }
footer #sitemap { display: none; padding: 13px 0 0 32px; background: rgba(255, 255, 255, 0.96); z-index: 8; overflow: hidden; }
footer #sitemap address { padding: 32px 0 0 42px; }
footer #sitemap h2 { font-size: 20px; }
footer aside { text-align: right; background: rgba(255, 255, 255, 0.96); z-index: 9; overflow: hidden; position: relative; }
footer aside #toggleSitemap { position: absolute; left: 13px; top: 9px; }
#app-footer aside img { margin: 2px 2em 0 0; }
address strong, address tel, address a { display: block; }
.footer-label { display: inline-block; float: left; margin-left: 1em; margin-top: 2em; }








/*
 * SECTION 
*/
/* Base styles for icons provided by web fonts
 * ------------------------------------------------------------- */
@font-face {
  font-family: 'SignifyLite';
  src: url("../fonts/signifylite-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("../fonts/websymbols-regular-webfont.woff") format("woff"); }

.ico-btn {
  font-family: 'WebSymbolsRegular';
  padding: 3px;
  margin-right: 3px;
  text-decoration: none;
  cursor: pointer; }





/*
 * SECTION  ADMINISTRATION
*/
#page-admin .span9 .form-horizontal,
#page-sales .span9 .form-horizontal { padding-left: 1em; }
#page-admin .span9 .nav-tabs,
#page-fly .span9 .nav-tabs { padding: 0 3em; }
#page-fly .form-horizontal { margin-top: 2em; }


/*
 * SECTION 
*/



/*
 * SECTION 
*/



/*
 * SECTION LANDING PAGE
*/
#safetyAward {
z-index: 9;
position: absolute;
top: 0.2em;
left: 21em;
}
#safetyAward img {
max-height: 83px;
width: auto;
}
img.ac_bgimage{
position:fixed;
left:0px;
top:0px;
width:100%;
opacity:0.96;
display:none;
}
/*
.ac_overlay{
width:100%;
height:100%;
position:fixed;
top:0px;
left:0px;
background:transparent url(../img/pattern.png) repeat top left;
opacity: 0.3;
}
*/
.ac_loading{
position:fixed;
top:10px;
right:10px;
background: transparent url(../img/loader.gif) no-repeat center center;
width:50px;
height:50px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px 10px 10px 10px;
z-index:999;
opacity:0.7;
display:none;
}
.ac_content{
position:fixed;
height:90px;
width:100%;
top:50%;
left:0px;
margin-top:-65px;
}
.ac_content h1{
/* background: pink url(../img/bg_menu.png) repeat top left; */
display:block;
float:left;
width:222px;
height:50px;
padding:20px;
font-size:36px;
font-weight:bold;
line-height:20px;
margin-right:1px;
}
#landing-logo {
text-indent: -9999px;
background: rgba(255,255,255,.69);
margin: 0;
padding: 13px;
}
.ac_content h1 span{
display:block;
font-weight:normal;
font-size:14px;
margin: 0 0 6px 6px;
}
.ac_menu{
background: rgba(255,255,255,.69);
float:left;
position:relative;
height:90px;
width:0px; 
}
.ac_menu .btn { line-height: 69px; }
.ac_menu nav .btn { line-height: normal; display: inline-block; }
.ac_menu > ul{ float:right; margin-right: 1em; white-space: nowrap; }
.ac_menu > ul > li{ float:left; position:relative; height:90px; overflow:hidden; margin: 0 0.3em; }
.ac_menu > ul > li a{
margin-top: 4px !important;
/*opacity: 0;*/
display: block;
line-height: 69px;
}
.ac_subitem{
width: 60%;
max-width: 666px;
height:0px; /* animate to 400px */
top:50%;
right:0px;
margin-top:0px; /* animate to -200px */
position:fixed;
z-index:99;
overflow:hidden;
background: rgba(255,255,255,.96);
}
.ac_subitem .info { padding: 0 42px 0px 42px; font-size: 1.2em; line-height: 1.4em; }
.ac_subitem h2 {
font-size: 22px;
font-weight: bold;
color: #666;
padding: 12px 0px 0px 42px;
text-shadow: 0px 0px 1px #EEE;
}
span.ac_close{
float: right;
margin: 10px;
padding: 2px 9px;
font-size: 16px;
cursor: pointer;
background: #EEE;
font-family: 'WebSymbolsRegular';
line-height: normal;
color: #39F;
opacity: 0.6;
}
span.ac_close:hover{
opacity:1.0;
}
.landing-address {
display: inline-block;
font-size: 1.4em;
line-height: normal;
padding: 13px 0px 0px 42px;
}
.landing-address a { opacity: 1 !important; }




/* OTHER */
/* Image Gallery */
.headerimg {
display: block;
width: 100%;
background: no-repeat center center;
-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
background-size: contain;
height: 100%;
}

#headerimgs { display: block; height: 420px; position: relative; border: 1px dotted lavender; overflow: hidden; }

#headertxt { position: absolute; top: 32px; background: rgba(255, 255, 255, 0.69); }

#headernav-outer { position: absolute; display: inline-block; bottom: 3px; left: 36px; }

#firstline { color: #333; font-size: 40px; padding: 4px 13px 7px; float: left; display: block; }

#secondline { color: #CD2B3A; text-decoration: none; font-size: 60px; padding: 0 13px 10px; float: left; display: block; clear: both; }

#secondline:hover { text-decoration: underline; color: #7F000C; }

.caption { line-height: 36px; }

.pictured { background-color: #CC3333; color: #FFF; font-size: 12px; padding: 9px 16px; text-transform: uppercase; float: left; display: block; clear: both; margin-top: 10px; }

.pictured a { font-size: 16px; font-style: italic; letter-spacing: 0; text-transform: none; color: #FFF; text-decoration: none; }

.pictured a:hover { text-decoration: underline; }