<style>
html { background: #fff; overflow: hidden; }
#app-header {display: none;}
#app-footer { position: fixed; display: block; bottom: 0; left: 0; right: 0; margin: 0; width: 100%; padding: 0; }
#app-footer aside {
margin: 0;
padding: 0;
position: relative;
top: 3px;
}

#landing-logo {
position: absolute;
height: 80px;
top: 69px;
left: 0;
right: 0;
background-position: 9px 0px;
}
#landing-logo img {
display: block;
position: absolute;
top: 17px;
left: 33px;
height: 69px;
}
#safetyAward {
top: 81px;
left: 307px;
}

#photodiv {
background-repeat: no-repeat;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
#photodiv img { height: 100%; width: 100%; } 

#root-container {
z-index: 999;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.sub-div {
background: #fff;
position: absolute;
top: 0;
bottom: 48px;
right: 0;
left: auto;
min-width: 369px;
max-width: 420px;
padding: 6px;
padding-top: 22px;
display: none;
z-index: 9;
}

.div_close {
position: absolute;
top: 6px;
right: 9px;
font-weight: bold;
cursor: pointer;
font-size: 18px;
}


#show-contacts {
position: absolute;
top: 111px;
left: 575px;
}

#on-ground {
position: absolute;
top: 111px;
left: 496px;
}

#in-air {
position: absolute;
top: 111px;
left: 426px;
}
</style>



<script type="text/javascript">
 <!--//--><![CDATA[//><!--
 
  //
  // CSS Photo Shuffler v1.0 by
  //   Carl Camera
  //   http://iamacamera.org 
  //
  // SetOpacity Function and inpiration from Photo Fade by
  //   Richard Rutter
  //   http://clagnut.com
  //
  // License: Creative Commons Attribution 2.5  License
  //   http://creativecommons.org/licenses/by/2.5/
  //

  // Customize your photo shuffle settings
  // 
  // * Surround the target < img /> with a < div >. specify id= in both
  // * The first and final photo displayed is in the html <img> tag
  // * The array contains paths to photos you want in the rotation. 
  //   If you want the first photo in the rotation, then it's best to
  //   put it as the final array image.  All photos must be same dimension
  // * The rotations variable specifies how many times to repeat array.
  //   images. zero is a valid rotation value.

  var gblPhotoShufflerDivId = "photodiv";
  var gblPhotoShufflerImgId = "photoimg"; 
  var gblImg = new Array(
    "http://static.flickr.com/53/149047107_78ebdaf8bc.jpg?v=0",
    "http://static.flickr.com/48/149048049_3523869ba4.jpg?v=0",
    "http://static.flickr.com/56/149047438_fabcf2f7ce.jpg?v=0"
    );
  var gblPauseSeconds = 7.25;
  var gblFadeSeconds = .85;
  var gblRotations = 1;

  // End Customization section
  
  var gblDeckSize = gblImg.length;
  var gblOpacity = 100;
  var gblOnDeck = 0;
  var gblStartImg;
  var gblImageRotations = gblDeckSize * (gblRotations+1);

  window.onload = photoShufflerLaunch;
  
  function photoShufflerLaunch()
  {
    var theimg = document.getElementById(gblPhotoShufflerImgId);
        gblStartImg = theimg.src; // save away to show as final image

  document.getElementById(gblPhotoShufflerDivId).style.backgroundImage='url(' + gblImg[gblOnDeck] + ')';
  setTimeout("photoShufflerFade()",gblPauseSeconds*1000);
  }

  function photoShufflerFade()
  {
    var theimg = document.getElementById(gblPhotoShufflerImgId);
  
    // determine delta based on number of fade seconds
  // the slower the fade the more increments needed
        var fadeDelta = 100 / (30 * gblFadeSeconds);

  // fade top out to reveal bottom image
  if (gblOpacity < 2*fadeDelta ) 
  {
    gblOpacity = 100;
    // stop the rotation if we're done
    if (gblImageRotations < 1) return;
    photoShufflerShuffle();
    // pause before next fade
          setTimeout("photoShufflerFade()",gblPauseSeconds*1000);
  }
  else
  {
    gblOpacity -= fadeDelta;
    setOpacity(theimg,gblOpacity);
    setTimeout("photoShufflerFade()",30);  // 1/30th of a second
  }
  }

  function photoShufflerShuffle()
  {
  var thediv = document.getElementById(gblPhotoShufflerDivId);
  var theimg = document.getElementById(gblPhotoShufflerImgId);
  
  // copy div background-image to img.src
  theimg.src = gblImg[gblOnDeck];
  // set img opacity to 100
  setOpacity(theimg,100);

        // shuffle the deck
  gblOnDeck = ++gblOnDeck % gblDeckSize;
  // decrement rotation counter
  if (--gblImageRotations < 1)
  {
    // insert start/final image if we're done
    gblImg[gblOnDeck] = gblStartImg;
  }

  // slide next image underneath
  thediv.style.backgroundImage='url(' + gblImg[gblOnDeck] + ')';
  }

function setOpacity(obj, opacity) {
  opacity = (opacity == 100)?99.999:opacity;
  
  // IE/Win
  obj.style.filter = "alpha(opacity:"+opacity+")";
  
  // Safari<1.2, Konqueror
  obj.style.KHTMLOpacity = opacity/100;

  // Older Mozilla and Firefox
  obj.style.MozOpacity = opacity/100;

  // Safari 1.2, newer Firefox and Mozilla, CSS3
  obj.style.opacity = opacity/100;
}

//--><!]]>
</script>

<div id="root-container">
	<!-- LOGO AND SAFETY -->
	<h1 id="landing-logo"><img src="./assets/img/logos/aerotour.png" /><span>Helicopteros y Avionetas</span>AerotourCR</h1>
	<div id="safetyAward"><img src="./assets/img/logos/SafetyAward.png" width="142px" /></div>

	<!-- IN AIR -->
	<a href="#" id="in-air" class="btn btn-primary landing-btn">En Aire</a>
	<div class="in-air sub-div">
		<span class="div_close">X</span>
		<nav id="nav-home">
			<h2>Vuele con Aerotour</h2>
			<p class="info">
			Contáctenos 24 horas al día, 365 días al año, podemos llevarlo a cualquier destino de nuestro país. 
			<br/><br/>
			<a class="btn btn-primary" href="#fly">Ir a esta seccion</a>
			<a class="btn btn-primary" href="#fly">Cotizacion</a>
			<a class="btn btn-primary" href="#fly">Destinos</a>
			</p>
		</nav>

		<nav id="nav-fleet">
			<h2>Nuestra Flota</h2>
			<p class="info">
			Con nuestra flota helicópteros usted podrá viajar seguro y rápido a cualquier destino. Contamos con aeronaves de diferentes capacidades.
			<br/><br/>
			<a class="btn btn-primary" href="#fleet">Flota</a>
			</p>
		</nav>
	</div>

	<!-- ON GROUND -->
	<a href="#" id="on-ground" class="btn btn-primary landing-btn">En Tierra</a>
	<div class="on-ground sub-div">
		<span class="div_close">X</span>
		<nav id="nav-admin">
			<h2>Administración de Aeronaves</h2>
			<p class="info">
			En Aerotour, nuestra finalidad es darle la plena experiencia de operación y administración de helicópteros privados, poniendo atención a todas las tareas esenciales con los mayores estándares internacionales de seguridad y mantenimiento.
			<br/><br/>
			<a class="btn btn-primary" href="#administration">Ir a esta seccion</a>
			</p>
		</nav>

		<nav id="nav-sales">
			<h2>Ventas y Adquisición de Aeronaves</h2>
			<p class="info">
			Con nuestra asesoría, experiencia y guía estamos seguros que tomara las decisiones correctas para elegir la aeronave adecuada y así disfrutar de los beneficios que existen de tener una helicóptero privado.
			<br/><br/>
			<a class="btn btn-primary" href="#sales">Ir a esta seccion</a>
			</p>
		</nav>

		<!-- <nav id="nav-lease">
			<a href="#" title="Cool">Aquilla de Aeronaves</a>
			<p class="info">
			Contar con un helicoptero a toda hora puede ser una realidad con nuestro programa de Aquilla, con el cual con tarifas especiales usted podra estar en cualquier lugar de Costa Rica en minutos.
			<br/><br/>
			<button class="btn btn-primary" href="#leasing">Ir a esta seccion</button>
			</p>
		</nav> -->

		<!-- <nav id="nav-maintance">
			<a href="#" title="Cool">Mantenimiento de Aeronaves</a>
			<p class="info">
			Nuestro programa de mantenimiento no solo esta certificado internationalmente por los mismos fabricantes de las aeronaves, sino que el equipo humano esta actualizado con las ultimas nejoras en mantemiento para garantizarle asi un viaje seguro.  Brindamos servicios privados de mantenimiento.
			<br/><br/>
			<button class="btn btn-primary" href="#maintance">Ir a esta seccion</button>
			</p>
		</nav> -->
	</div>


	<!-- CONTACTS -->
	<a href="#" id="show-contacts" class="btn landing-btn">Contactenos</a>
	<div class="show-contacts sub-div">
		<span class="div_close">X</span>
		<h2>Aerotour</h2>
		<address class="landing-address">
			<tel>+506 2232-1248</tel>
			<tel>+506 2232-0660</tel>
			<tel>+506 8373-6732</tel>
			<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
			San Jose, Costa Rica<br />
			Aeropuerto Int. Tobias Bolaños<br />
			Hangar 26
		</address>
	</div>

</div>
<div id="photodiv"><img id="photoimg" src="http://static.flickr.com/55/149047701_bb3d0d6134.jpg?v=0" alt="Oregon Coast" /></div>


<script>
!function ($) {
	$(function(){

		$('.landing-btn').click(function(e) {
			e.preventDefault();
			$('.landing-btn').removeClass('active');
			$('.sub-div').fadeOut('fast');
			$(this).addClass('active');
			$(this).next('.sub-div').fadeIn('slow');
		});

		$('.div_close').click(function(e) {
			e.preventDefault();
			$('.landing-btn').removeClass('active');
			$(this).parent('.sub-div').fadeOut('fast');
		});

	})
}(window.jQuery)
</script>