<div id="page-sales" class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Adquicisión de Aeronaves.. <small>Una experiencia sin igual</small></h1>
		</div>

		<div class="row">

			<div class="span9">
				<div id="salesCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active">
							<img src="./assets/img/sales/sales.jpg" alt="">
							<div class="carousel-caption">
								<h4>Friendly staff</h4>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/sales/sales1.jpg" alt="">
							<div class="carousel-caption">
								<h4>Facilities</h4>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/sales/sales2.jpg" alt="">
							<div class="carousel-caption">
								<h4>Facilities upstairs</h4>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/sales/sales3.jpg" alt="">
							<div class="carousel-caption">
								<h4>VIP area</h4>
							</div>
						</div>
						<div class="item">
							<img src="./assets/img/sales/sales4.jpg" alt="">
							<div class="carousel-caption">
								<h4>Office upstairs</h4>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>

				<p class="page-info">¿Para que lo quiere?... ¿Para cúantas personas?... ¿Cúal es la misión? Si tiene la respuesta para esas preguntas podemos asesorarlo con la adquicisión de su helicóptero o avión. Una de nuestras divisiones llamada AENSA, es la única representante autorizado por parte de ROBINSON HELICOPTER COMPANY para la venta de este modelo de helicóptero, siendo el más vendido en el mundo, por ser seguro, accesible y eficiente. Por supuesto, si desea otro tipo de helicóptero o avión nuestra red de socios a nivel internacional cuentan con un inventario de aeronaves que le garantizan una inversión inteligente.</p>

				<form class="form-horizontal" action="page_submit" method="post" accept-charset="utf-8">
					<fieldset>
						<legend>Request a quote for an Aircraft</legend>
						<div class="control-group">
							<label class="control-label" for="quote-name">Nombre</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="quote-name">
							</div>
						</div>

						<div class="control-group">
						  <label class="control-label" for="quote-email">Email</label>
						  <div class="controls">
						    <div class="input-prepend">
						      <span class="add-on">@</span>
						      <input class="span2" id="quote-email" size="16" type="text">
						    </div>
						  </div>
						</div>

						<div class="control-group">
							<label class="control-label" for="quote-text">Comentarios</label>
							<div class="controls">
								<textarea class="input-xlarge" id="quote-text" rows="3"></textarea>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Enviar</button>
						</div>
					</fieldset>
				</form>
				
			</div><!-- /span9 -->

			<div class="span3 sidebar">
				<div id="social" class="ac">
					<a href="//facebook.com/aerotourcr" target="_blank" id="link-fb" class="ico-btn big">f</a>
					<a href="//plus.google.com/118023243299011851814" target="_blank" id="link-gp" class="ico-btn big">g</a>
					<a href="//linkedin.com/pub/aerotour-costa-rica/47/360/4b" target="_blank" id="link-li" class="ico-btn big">l</a>
					<a href="//youtube.com/user/aerotourchannel" target="_blank" id="link-yt" class="ico-btn big">y</a>
					<a href="callto//:aerotourcr" id="link-sy" class="ico-btn big">s</a>
				</div>

				<span class="separator">---</span>

				<address class="ar">
					<h3>Aerotour S.R.L.</h3>
					<tel>+506 2232-1248</tel>
					<tel>+506 2232-0660</tel>
					<tel>+506 8373-6732</tel>
					<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
					San Jose, Costa Rica<br />
					Aeropuerto Int. Tobias Bolaños<br />
					Hangar 26<br /><br />
					<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn">Mapa »</button>
				</address>

				<span class="separator">---</span>

				<div class="margin3x9">
					<h3>Servicios</h3>
					<ul class="">
						<li>Compra Aeronaves</li>
						<li>Venta Aeronaves</li>
					</ul><!-- / -->
				</div>

				<!-- <span class="separator">---</span>

				<div class="margin3x9">
					<h3>Media Center</h3>
					<p>Vea videos, fotografías, y artículos relacionados con Aerotour</p>
					<p><a class="btn" href="#media">Vea »</a></p>
				</div> -->

				<span class="separator">---</span>

				<div class="ac">
					<a href="http://aensacr.com" target="_blank">
						<img src="./assets/img/logos/aensa-logo.png" width="100%" height="auto" rel="tip" title="Aprendir volar" data-placement="left" data-content="Aprentde como volar like a champ!" />
					</a>
				</div>
			</div>

		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->
<script>
!function ($) {
	$(function(){

		//$('#salesCarousel').carousel();

	})
}(window.jQuery)
</script>