<div id="page-leasing" class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Aquilla un helicoptero</small></h1>
		</div>

		<div class="row">

			<div class="span12">
				<ul rel="roundabout" class="unstyled roundabout">
					<li><img src="./img/field.jpg" alt="Award" /></li>
					<li><img src="./img/bbp.jpg" alt="Backpack" /></li>
					<li><img src="./img/lake.jpg" alt="Bear" /></li>
					<li><img src="./img/gun.png" alt="Gun" /></li>
					<li><img src="./img/high-five.png" alt="High-Five" /></li>
					<li><img src="./img/mustache.png" alt="Mustache" /></li>
					<li><img src="./img/sun.png" alt="Sun" /></li>
				</ul>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation <span class="label success">New</span> ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<table class="zebra-striped" id="sortTableExample">
					<thead>
						<tr>
							<th class="header">#</th>
							<th class="yellow header headerSortDown">First Name</th>
							<th class="blue header">Last Name</th>
							<th class="green header">Language</th>
						</tr>
					</thead>
					<tbody>
					<tr>
							<td>2</td>
							<td>Joe</td>
							<td>Sixpack</td>
							<td>English</td>
						</tr><tr>
							<td>3</td>
							<td>Stu</td>
							<td>Dent</td>
							<td>Code</td>
						</tr><tr>
							<td>1</td>
							<td>Your</td>
							<td>One</td>
							<td>English</td>
						</tr></tbody>
				</table>

				<p><span class="label notice">Notice</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				
			</div><!-- /span12 -->

			<div class="span4 sidebar">
				<div id="social" class="ac">
					<a href="//facebook.com/aerotourcr" target="_blank" id="link-fb" class="ico-btn big">f</a>
					<a href="//plus.google.com/118023243299011851814" target="_blank" id="link-gp" class="ico-btn big">g</a>
					<a href="//linkedin.com/pub/aerotour-costa-rica/47/360/4b" target="_blank" id="link-li" class="ico-btn big">l</a>
					<a href="//youtube.com/user/aerotourchannel" target="_blank" id="link-yt" class="ico-btn big">y</a>
					<a href="callto//:aerotourcr" id="link-sy" class="ico-btn big">s</a>
				</div>

				<span class="separator">---</span>

				<address class="ar">
					<h3>Aerotour S.R.L.</h3>
					<tel>+506 2232-1248</tel>
					<tel>+506 2232-0660</tel>
					<tel>+506 8373-6732</tel>
					<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
					San Jose, Costa Rica<br />
					Aeropuerto Int. Tobias Bolaños<br />
					Hangar 26<br /><br />
					<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn">Mapa »</button>
				</address>

				<span class="separator">---</span>

				<div class="margin3x9">
					<h3>Servicios</h3>
					<ul class="">
						<li>Compra Aeronaves</li>
						<li>Venta Aeronaves</li>
					</ul><!-- / -->
				</div>

				<span class="separator">---</span>

				<div class="margin3x9">
					<h3>Media Center</h3>
					<p>Vea videos, fotografías, y artículos relacionados con Aerotour</p>
					<p><a class="btn" href="#media">Vea »</a></p>
				</div>

				<span class="separator">---</span>

				<div class="ac">
					<a href="http://aensacr.com" target="_blank">
						<img src="./img/logos/aensa-logo.png" width="100%" height="auto" rel="tip" title="Aprendir volar" data-placement="left" data-content="Aprentde como volar like a champ!" />
					</a>
				</div>
			</div>

		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->