<style>
html { background: #fff; overflow: hidden; }
.topbar {display: none;}
#app-footer {
z-index: 999;
position: fixed;
display: block;
bottom: 0;
left: 0;
right: 0;
margin: 0;
width: 100%;
padding: 0;
}
</style>
<div id="ac_background" class="ac_background">
	<img class="ac_bgimage" src="img/bg/bgHome3.jpg" alt="Background"/>
	<div class="ac_overlay"></div>
	<div class="ac_loading"></div>
</div>
<div id="ac_content" class="ac_content">
	<h1 id="landing-logo"><span>Helicopteros y Avionetas</span>AerotourCR</h1>
	<div id="safetyAward"><img src="./img/logos/SafetyAward.png" width="142px" /></div>
	<div class="ac_menu">
		<ul>
			<!--  -->
			<li>
				<a href="#" rel="img/bg/bgHome2.jpg" class="btn primary">En Aire</a>
				<div class="ac_subitem">
					<span class="ac_close">'</span>
					<nav id="nav-home">
						<h2>Vuele con Aerotour</h2>
						<p class="info">
						Contactenos 24 horas al dia, 365 dias al ano, podemos llevarlo a cualquier destino de nuestro pais.
						<br/><br/>
						<button class="btn primary" onclick="window.location='#fly'">Ir a esta seccion</button>
						<button class="btn primary" onclick="window.location='#fly'">Cotizacion</button>
						<button class="btn primary" onclick="window.location='#fly'">Destinos</button>
						</p>
					</nav>

					<nav id="nav-fleet">
						<h2>Nuestra Flota</h2>
						<p class="info">
						Con nuestra flota helicopters usted podra viajar seguro y rapido a cualquier destino.  Contamos con aeronaves de diferentes capacidades.
						<br/><br/>
						<button class="btn primary" onclick="window.location='#fleet'">Flota</button>
						</p>
					</nav>
				</div>
			</li>

			<!--  -->
			<li>
				<a href="#" rel="img/bg/bgHome1.jpg" class="btn primary">En Tierra</a>
				<div class="ac_subitem">
					<span class="ac_close">'</span>
					<nav id="nav-admin">
						<h2>Administracion de Aeronaves</h2>
						<p class="info">
						En Aerotour, nuestra finalidad es darle la plena expericiencia de opracion y administracion de helicopteros privados, poniendo atencion a todas las tareas escenciales con losmayores estandares internacionales de seguridad y matinimiento.
						<br/><br/>
						<button class="btn primary" onclick="window.location='#administration'">Ir a esta seccion</button>
						</p>
					</nav>

					<nav id="nav-sales">
						<h2>Ventas y Adquisicion de Aeronaves</h2>
						<p class="info">
						Con nuestra asesoria, experiencia y guia estamos seguros que tamara las descisiones correctas para elegir la aeronave adecuada y asi disfrutar de los beneficios que existen de tener una aeronave privada.
						<br/><br/>
						<button class="btn primary" onclick="window.location='#sales'">Ir a esta seccion</button>
						</p>
					</nav>

					<!-- <nav id="nav-lease">
						<a href="#" title="Cool">Aquilla de Aeronaves</a>
						<p class="info">
						Contar con un helicoptero a toda hora puede ser una realidad con nuestro programa de Aquilla, con el cual con tarifas especiales usted podra estar en cualquier lugar de Costa Rica en minutos.
						<br/><br/>
						<button class="btn primary" onclick="window.location='#leasing'">Ir a esta seccion</button>
						</p>
					</nav> -->

					<!-- <nav id="nav-maintance">
						<a href="#" title="Cool">Mantenimiento de Aeronaves</a>
						<p class="info">
						Nuestro programa de mantenimiento no solo esta certificado internationalmente por los mismos fabricantes de las aeronaves, sino que el equipo humano esta actualizado con las ultimas nejoras en mantemiento para garantizarle asi un viaje seguro.  Brindamos servicios privados de mantenimiento.
						<br/><br/>
						<button class="btn primary" onclick="window.location='#maintance'">Ir a esta seccion</button>
						</p>
					</nav> -->
				</div>
			</li>

			<!--  -->
			<li>
				<a href="#" rel="img/bg/bgHome.jpg" class="btn">Contactenos</a>
				<div class="ac_subitem">
					<span class="ac_close">'</span>
					<h2>Aerotour S.R.L.</h2>
					<address class="landing-address">
						<tel>+506 2232-1248</tel>
						<tel>+506 2232-0660</tel>
						<tel>+506 8373-6732</tel>
						<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
						San Jose, Costa Rica<br />
						Aeropuerto Int. Tobias Bolaños<br />
						Hangar 26
					</address>
				</div>
			</li>

		</ul>
	</div>
</div>