<div class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Administramos sus aeronave..</h1>
		</div>

		<div class="row">

			<div class="span12">
				<!-- <div class="alert-message block-message info fade in" data-alert="alert">
					<a class="close" href="#">×</a>
					<p><strong>Reservar! Desea volar con Aerotour?!</strong> Si quiere una cotización pronto de un clic en esta sección</p>
					<div class="alert-actions">
						<a class="btn small" href="#">Reservar</a> <a class="btn small" href="#">Aún no</a>
					</div>
				</div> -->

				<!-- <figure>
					<img src="./img/posters/administration.jpg" width="100%" height="auto" />
				</figure> -->

				<div id="headerimgs">
					<div id="headerimg1" class="headerimg"></div>
					<div id="headerimg2" class="headerimg"></div>
					<!-- Slideshow controls -->
					<div id="headernav-outer">
						<div id="headernav">
							<button id="back" class="btn icon-btn"><</button>
							<button id="control" class="btn icon-btn">]</button>
							<button id="next" class="btn icon-btn">></button>
						</div>
					</div>
					<!-- jQuery handles for the text displayed on top of the images -->
					<div id="headertxt">
						<p class="caption">
							<span id="firstline"></span>
							<span id="secondline"></span>
						</p>
					</div>
				</div>

				<ul class="tabs" data-tabs="tabs">
					<li class="active"><a href="#full">Service Pack</a></li>
					<li><a href="#parking">Hangaraje</a></li>
					<li><a href="#wash">Limpieza</a></li>
				</ul>

				<div id="my-tab-content" class="tab-content">
					<div class="active tab-pane" id="full">
						<p class="page-info">Brindamos servicios completos de administración de su aeronave, con nosotros no solo cuenta con el respaldo de una empresa consolidada en el mercado nacional, son más de 8 años de experiencia, sino que también cuenta con servicios complementarios como despacho y seguimientos de vuelos, reservaciones 24/7, hangaraje, limpieza y mantenimiento... En fin todo lo que necesita para que su equipo este listo para despegar.</p>
					</div>

					<div class="tab-pane" id="parking">
						<p class="page-info">Si solo esta de paso por el país y necesita un lugar seguro y resguardo para su aeronave, nosotros podemos brindarle espacio en nuestros hangares, los cuales cuentan con la estructura para que su equipo este resguardado, con ciurcuito cerrado de vigilancia y grupo de soporte de tierra para asistirlo con la operacion.</p>

						<!-- <table class="zebra-striped" id="sortTableExample">
							<thead>
								<tr>
									<th class="header">#</th>
									<th class="yellow header headerSortDown">First Name</th>
									<th class="blue header">Last Name</th>
									<th class="green header">Language</th>
								</tr>
							</thead>
							<tbody>
							<tr>
									<td>2</td>
									<td>Joe</td>
									<td>Sixpack</td>
									<td>English</td>
								</tr><tr>
									<td>3</td>
									<td>Stu</td>
									<td>Dent</td>
									<td>Code</td>
								</tr><tr>
									<td>1</td>
									<td>Your</td>
									<td>One</td>
									<td>English</td>
								</tr></tbody>
						</table> -->
					</div>

					<div class="tab-pane" id="wash">
						<p class="page-info">Apesar que el mantenimiento y cuidado estructural de su aeronave son prioridad para nosotros, también es cierto que la estetica externa e interna juegan un papel clave para tener un  vuelo confortable y para cerrar negocios; por lo que Aerotour cuenta con un personal y herramientas necesarias para tener su aeronave lista y presentable con la mayor limpieza posible, cuidando los pequeños detalles, para que en el momento que usted se sienta abordo perciba su aroma preferido, alfombras como nuevas y asientos de cuero bien cuidados.</p>

					</div>
				</div>
			</div><!-- /span12 -->

			<div class="span4 sidebar">
				<div id="social" class="ac">

					<a href="//facebook.com/aerotourcr" target="_blank" id="link-fb" class="icon-btn big">f</a>
					<a href="#" target="_blank" id="link-gp" class="icon-btn big">g</a>
					<a href="//linkedin.com/pub/aerotourcr" target="_blank" id="link-li" class="icon-btn big">l</a>
					<a href="//youtube.com/user/Aerotourcr/videos" target="_blank" id="link-yt" class="icon-btn big">y</a>
					<a href="#" id="link-sy" class="icon-btn big">s</a>

				</div>

				<span class="separator">---</span>

				<address class="ar">
					<h3>Aerotour S.R.L.</h3>
					<tel>+506 2232-1248</tel>
					<tel>+506 2232-0660</tel>
					<tel>+506 8373-6732</tel>
					<a href="mailto:ventas@aerotourcr.com">ventas@aerotourcr</a>
					San Jose, Costa Rica<br />
					Aeropuerto Int. Tobias Bolaños<br />
					Hangar 26<br /><br />
					<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn">Mapa »</button>
				</address>

				<span class="separator">---</span>

				<div class="margin3x9">
					<h3>Servicios</h3>
					<ul class="">
						<li>Administración</li>
						<li>Mantenimiento</li>
						<li>Licencias de piloto</li>
						<li>Consultorias</li>
					</ul><!-- / -->
				</div>

				<!-- <span class="separator">---</span>

				<div class="margin3x9">
					<h3>Media Center</h3>
					<p>Vea videos, fotografías, y artículos relacionados con Aerotour</p>
					<p><a class="btn" href="#media">Vea »</a></p>
				</div> -->

				<span class="separator">---</span>

				<div class="ac">
					<a href="http://aensacr.com" target="_blank">
						<img src="./img/logos/aensa-logo.png" width="100%" height="auto" rel="tip" title="Aprendir volar" data-placement="left" data-content="Aprentde como volar like a champ!" />
					</a>
				</div>
			</div>

		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->