<div class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Mantimiento con nosotros <small>Una experiencia sin igual</small></h1>
		</div>

		<div class="row">

			<div class="span12">
				<div id="headerimgs">
					<div id="headerimg1" class="headerimg"></div>
					<div id="headerimg2" class="headerimg"></div>
					<!-- Slideshow controls -->
					<div id="headernav-outer">
						<div id="headernav">
							<button id="back" class="btn icon-btn"><</button>
							<button id="control" class="btn icon-btn">]</button>
							<button id="next" class="btn icon-btn">></button>
						</div>
					</div>
					<!-- jQuery handles for the text displayed on top of the images -->
					<div id="headertxt">
						<p class="caption">
							<span id="firstline"></span>
							<a href="#" id="secondline"></a>
						</p>
						<p class="pictured">
							Pictured:
							<a href="#" id="pictureduri"></a>
						</p>
					</div>
				</div>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<table class="zebra-striped" id="sortTableExample">
					<thead>
						<tr>
							<th class="header">#</th>
							<th class="yellow header headerSortDown">First Name</th>
							<th class="blue header">Last Name</th>
							<th class="green header">Language</th>
						</tr>
					</thead>
					<tbody>
					<tr>
							<td>2</td>
							<td>Joe</td>
							<td>Sixpack</td>
							<td>English</td>
						</tr><tr>
							<td>3</td>
							<td>Stu</td>
							<td>Dent</td>
							<td>Code</td>
						</tr><tr>
							<td>1</td>
							<td>Your</td>
							<td>One</td>
							<td>English</td>
						</tr></tbody>
				</table>
				
			</div><!-- /span12 -->

			<div class="span4 sidebar">
				<div id="social" class="ac">

					<a href="#" id="link-fb" class="icon-btn big">f</a>
					<a href="#" id="link-gp" class="icon-btn big">g</a>
					<a href="#" id="link-li" class="icon-btn big">l</a>
					<a href="#" id="link-yt" class="icon-btn big">y</a>
					<a href="#" id="link-sy" class="icon-btn big">s</a>

				</div>

				<span class="separator">---</span>

				<address class="ar">
					<h3>Aerotour S.R.L.</h3>
					<tel>+506 2232-1248</tel>
					<tel>+506 2232-0660</tel>
					<a href="mailto:mercadeo@aerotourcr.com">mercadeo@aerotourcr</a>
					San Jose, Costa Rica<br />
					Aeropuerto Int. Tobias Bolanos<br />
					Hangar 26<br /><br />
					<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn">Mapa »</button>
				</address>

				<span class="separator">---</span>

				<div class="margin3x9">
					<h3>Servicios</h3>
					<ul class="">
						<li>Limpiar</li>
						<li>Partest</li>
						<li>Fabricante</li>
						<li>Overhaul</li>
						<li>Maintaince Fly</li>
					</ul><!-- / -->
				</div>

				<span class="separator">---</span>

				<div class="margin3x9">
					<h3>Media Center</h3>
					<p>Vea video, fotografias, y articulos relacionados con Aerotour</p>
					<p><a class="btn" href="#">Vea »</a></p>
				</div>

				<span class="separator">---</span>

				<div class="ac">
					<img src="./img/aensa-logo.png" width="100%" height="auto" rel="pop" title="Aprendir volar" data-placement="left" data-content="Aprentde como volar like a champ!" />
				</div>
			</div>

		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->